/* ============================== Mobile =========================== */
@media screen and (min-width: 0px) and (max-width: 768px) {
    .newPasswordBox {
        margin: 10px auto;
    }

    .newPasswordButton {
        max-width: 280px;
    }

    .inputWidth {
        max-width: 300px;
    }
    .newPasswordForm {
        padding-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        /* width: 400px; */
    }
  }

/* ============================== Tablet =========================== */
@media screen and (min-width: 768px) and (max-width: 1080px) {
    .newPasswordBox {
        padding: 30px;
        margin: 0px auto 200px auto;
    }

    .newPasswordButton {
        max-width: 330px;
    }
  }

/* ====================== Desktop =========================== */
@media screen and (min-width: 1080px) {
    .newPasswordBox {
        padding: 0px 40px 40px 40px;
        margin: 90px auto;
    }
}

/* ============================================================= */

.newPasswordBox {
    background-color: white;
    border-radius: 20px;
    max-width: 533px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

.iconMargin {
    margin-bottom: 7px;
    margin-left: 10px;
    margin-right: 10px;
}

.newPasswordButton {
    padding: 10px;
    width: 300px;
    background-color: #24cca7;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 30px auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
}

.newPasswordButton:hover {
    background-color: #60eecf;
    color: white;
    box-shadow: 0 0 25px #24cca780;
    transition: 0.3s;
}

.newPasswordHeader {
    display: flex;
}

.walletIcon {
    margin-right: 20px;
    margin-bottom: 5px;
}

.inputWidth {
    width: 410px;
}

.inputMargin {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

.newPasswordLink {
    font-family: 'Open Sans', sans-serif;
    color:  #24cca8;
    font-size: 18px;
}

.newPasswordLink:focus,
.newPasswordLink:hover{
    text-decoration: underline;
    text-decoration-color: #24cca8;
}

.newPasswordLinkSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.newPasswordLinkMargin {
    margin-top: 10px;
}