.progress {
  width: 410px;
  height: 4px;
  position: absolute;
  bottom: 58px;
 background-color: #e5f1ef;
 @media screen and (min-width: 0px) and (max-width: 768px) {
  width: 300px;
 }
}

.progress_bar {
  height: 4px;
  border-radius: 4px;
}

.veryWeak {
  background: #ff0000;
}

.weak {
  background: #e81717;
}

.normal {
  background: #fbff21;
}

.strong {
  background: #24cca7;
}
