@media screen and (min-width: 0px) and (max-width: 768px) {
    .main {
        background-color: white;
        height: 95.3vh;
    }

    .resetPasswordHeader {
        opacity: 0;
        margin: 0 auto;
        visibility: hidden;
    }

    .margins {
        background-color: white;
    }
}

@media screen and (min-width: 769px) and (max-width: 1080px) {
    .main {
        display: grid;
        width: 100%;
        grid-template-rows: 77vh;
        justify-items: center;
        height: 100%;
    }

    .resetPasswordHeader {
        margin-bottom: 150px;
    }
}

@media screen and (min-width: 1080px) {
    .main {
        display: grid;
        width: 100%;
        justify-items: center;
        grid-template-rows: 77vh;
    }

    .resetPasswordHeader {
        margin-bottom: 150px;
    }
}