.container{
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  border-radius: 20px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  max-width: 480px;
  text-align: center;
}

.modalTitle{
  font-weight: 700;
  font-size: 28px;
  display: flex;
  justify-content: center;
}

.modalButton{   
  width: 200px;
  height: 60px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 22px;
  margin:20px;
  background-color: #24cca7;
  color: white;
  letter-spacing: 1px;
}

.modalButton:hover{
  background-color: #4A56E2;
  color: white;
  box-shadow: 0 0 25px #4A56E2;
  transition: 0.3s;
}

.buttonExit {
  background-color: transparent;
  border-width: 0px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  color: #BDBDBD;
  font-size: 20px;
  padding-left: 3px;
  margin-left: 0px;
}

.buttonExit:hover {
  color: #4A56E2;
  transition: 0.3s;
}

.exitSection {
  display: flex;
}

.exitSection:hover {
  display: flex;
}

.icon {
  color: #BDBDBD;
  margin-left: 3px;
}

.icon:hover {
  color: #4A56E2;
  transition: 0.3s;
  text-shadow: 0 1px 3px #4A56E2;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .buttonExit {
    display: none;
  }

  .modalButton {   
    height: 40px;
    font-size: 18px;
    margin:10px;
  }

  .modalTitle{
    font-weight: 700;
    font-size: 28px;
    display: flex;
    justify-content: center;
  }
  .container{
    position: absolute; 
    top: 50%;
    left: 50%;

    padding: 10px 30px 30px 30px;

    max-width: 480px;
    text-align: center;
  }
}