@media screen and (min-width: 0px) and (max-width: 768px) {
    .resetPasswordBox {
        margin: 10px auto;
    }

    .resetPasswordButton {
        max-width: 280px;
    }

    .inputWidth {
        max-width: 300px;
    }

    .resetPasswordForm {
        padding-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* ============================== Tablet =========================== */
@media screen and (min-width: 768px) and (max-width: 1080px) {
    .resetPasswordBox {
        padding: 30px;
        margin: 0px auto 200px auto;
    }

    .resetPasswordButton {
        max-width: 330px;
    }
}

/* ====================== Desktop =========================== */
@media screen and (min-width: 1080px) {
    .resetPasswordBox {
        padding: 0px 40px 40px 40px;
        margin: 90px auto;
    }
}

/* ============================================================= */

.resetPasswordBox {
    background-color: white;
    border-radius: 20px;
    max-width: 533px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

.iconMarginPost {
    margin-bottom: 7px;
    margin-left: 10px;
    margin-right: 10px;
}

.resetPasswordButton {
    padding: 10px;
    width: 360px;
    background-color: #24cca7;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 30px auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
}

.resetPasswordButton:hover {
    background-color: #60eecf;
    color: white;
    box-shadow: 0 0 25px #24cca780;
    transition: 0.3s;
}

.resetPasswordHeader {
    display: flex;
}

.walletIcon {
    margin-right: 20px;
    margin-bottom: 5px;
}

.inputWidth {
    width: 410px;
}

.inputMargin {
    margin-bottom: 10px;
}
/* 
a {
    text-decoration: none;
} */

.resetPasswordLink {
    font-family: 'Open Sans', sans-serif;
    color: #24cca8;
    
    font-size: 18px;
}

.resetPasswordLink:focus,
.resetPasswordLink:hover {
    font-family: 'Open Sans', sans-serif;
    color: #24cca8;
    text-decoration: underline;
    text-decoration-color: #24cca8;
    font-size: 18px;
}

.resetPasswordLinkSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.resetPasswordLinkMargin {
    margin-top: 10px;
}