.expenseForm {
  font-family: "Open Sans";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.expenseForm__line {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.expenseForm input {
  font-size: 14px;
  padding-left: 10px;

  border: none;
  border-bottom: 1px solid rgb(197, 196, 196);
  font-family: "Open Sans";
}

.expenseForm__button {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
  height: 40px;
  width: 200px;
  border: none;
  border-bottom: 1px solid rgb(197, 196, 196);
  border-radius: 45px;
  background-color: #24cca7;
  color: white;
}

.expenseForm__button:hover {
  -webkit-box-shadow: -4px 12px 77px -12px rgba(21, 115, 94, 1);
  -moz-box-shadow: -4px 12px 77px -12px rgba(21, 115, 94, 1);
  box-shadow: -4px 12px 77px -12px rgba(21, 115, 94, 1);
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .expenseForm {
    width: 320px;
    gap: 20px;
    height: auto;
  }

  .expenseSelect {
    width: 260px;
    height: 30px;
  }

  .expenseForm input {
    height: 30px;
    padding-bottom: 1px;
  }

  .expenseForm__line {
    margin-top: 5px;
    flex-direction: column;
    gap: 20px;
  }

  .expenseForm__amount {
    width: 250px;
  }
  
  .expenseForm__date {
    width: 250px;
  }

  .expenseForm__comment {
    width: 250px;
  }

  .expenseForm__button {
    width: 250px;
  }
}

@media screen and (min-width: 768px) {
  .expenseForm {
    padding-top: 20px;
    width: 500px;
    gap: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .expenseSelect {
    width: 460px;
    height: 30px;
  }

  .expenseForm input {
    height: 30px;
    padding-bottom: 1px;
  }

  .expenseForm__line {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .expenseForm__amount {
    width: 200px;
  }
  .expenseForm__date {
    width: 200px;
  }

  .expenseForm__comment {
    width: 450px;
    height: 50px;
  }

  .expenseForm__button {
    font-size: 19px;
    width: 250px;
    height: 50px;
  }
}
