.switchBox {
  font-family: "Open Sans";
  font-size: 17px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0px 30px 0px;
}

.switchBox__checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switchBox__label {
  margin: 0px 22px 0px 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 70px;
  height: 30px;
  background: none;
  border: 1px solid rgb(243, 242, 242);
  border-radius: 100px;
  position: relative;
  transition: background-color 0.1s;
}

.switchBox__button {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 200;
}

.switchBox__label .switchBox__button {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  margin-top: -6px;
  border-radius: 45px;
  transition: 0.2s;
  background: #24cca7;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.switchBox__checkbox:checked + .switchBox__label .switchBox__button {
  left: calc(100% - 2px);
  transform: translateX(-100%);
  background: #ff6596;
  color: #fff1f6a2;
}

.switchBox__label:active .switchBox__button {
  width: 40px;
}

.modalFormArea {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .switchBox__label {
    cursor: pointer;
    width: 90px;
    height: 30px;
  }

  .switchBox__label .switchBox__button {
    content: "";
    width: 40px;
    height: 40px;
    margin-top: -5px;
  }
}
