@media screen and (min-width: 0px) and (max-width: 426px) {
  .balanceBox {
    margin: auto;
    width: 310px;
    height: 80px;
    border-radius: 30px;
    background-color: white;
  }

  .balanceTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: auto;
    letter-spacing: 0;
    color: #a6a6a6;
    margin: 0;
    padding-top: 15px;
    padding-left: 18px;
    width: 100px;
    height: 13px;
  }

  .balanceContainer {
    padding-left: 20px;
    height: 30px;
    width: 250px;
    display: flex;
    align-items: center;
  }
.balanceContainerItems{
    display: flex;
    align-items: center;
  }
  .balanceText {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    text-align: left;
    /* padding-top: 6px; */
    text-shadow: 1.5px 2px 3px rgba(209, 209, 216, 1);
    width: 250px;
  }
}
@media screen and (min-width: 426px) and (max-width: 767px) {
  .balanceBox {
    margin: 15px;
    width: 336px;
    height: 80px;
    border-radius: 30px;
    background-color: white;
  }
  .balanceTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: auto;
    letter-spacing: 0;
    color: #a6a6a6;
    margin: 0;
    padding-top: 15px;
    padding-left: 18px;
    width: 100px;
    height: 13px;
  }

  .balanceContainer {
    padding-left: 20px;
    height: 30px;
    width: 250px;
    display: flex;
    align-items: center;
  }
.balanceContainerItems{
    display: flex;
    align-items: center;
  }
  .balanceText {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    text-align: left;
    padding-top: 6px;
    text-shadow: 1.5px 2px 3px rgba(209, 209, 216, 1);
    width: 280px;
  }
}
@media screen and (min-width: 768px) {
   .balanceContainerItems{
    display: flex;
    align-items: center;
  }
  .balanceBox {
    margin: 15px;
    width: 336px;
    height: 80px;
    border-radius: 30px;
    background-color: white;
  }
  .balanceTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: auto;
    letter-spacing: 0;
    color: #a6a6a6;
    margin: 0;
    padding-top: 15px;
    padding-left: 28px;
    width: 100px;
    height: 13px;
  }

  .balanceContainer {
    padding-left: 30px;
    height: 30px;
    width: 250px;
    display: flex;
    align-items: center;
  }

  .balanceText {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    text-align: left;
    padding-top: 6px;
    text-shadow: 1.5px 2px 3px rgba(209, 209, 216, 1);
    width: 270px;
  }
}
@media screen and (min-width: 1280px) {
  .balanceText{
    width: 325px;
  }
  .balanceContainerItems{
    display: flex;
    align-items: center;
  }
  .balanceBox {
  
    width: 395px;
}
}