.dateForm {
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  width: 390px;
  justify-content: space-between;
  /* padding-left: 10px; */
  margin: 0 auto;
}

.monthSelect {
  width: 170px;
}
.yearSelect {
  width: 170px;
}

.statsTable {
  width: 394px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 0px;
  margin: 0 auto;
  font-family: "Open Sans";
}

.tableHeaders {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: white;
  width: 350px;
  border-radius: 35px;
  padding: 5px 20px;
 margin: 0 auto;
  font-weight: 500;
  font-size: 18px;
}

.tableBody {
  font-family: "Open Sans";
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 16px;
  font-weight: 600;
  margin: 0 auto;
}

.tableRow {
  display: flex;
  width: 350px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dcdcdf;
}

.categoryRow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 10px;
}

.sumRow {
  align-items: flex-start;
  padding-left: 40px;
}

.tableSummaryRow {
  font-family: "Open Sans";
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 350px;
  font-weight: 700;
  font-size: 17px;
  padding: 5px 0px;
}

.tableTotalExpense {
  color: #ff6596;
}

.tableTotalIncome {
  color: #24cca7;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .dateForm {
    display: grid;
    grid-column: auto;
    gap: 15px;
    width: 280px;
    margin: 0 auto;
  }
  .monthSelect {
    width: 280px;
  }
  .yearSelect {
    width: 280px;
  }
  .statsTable {
    width: 280px;
    margin: 0 auto;
  }
  .tableHeaders {
    width: 240px;
  }
  .tableRow {
    width: 240px;
    margin: 0 auto;
  }
  .tableSummaryRow {
    width: 240px;
    
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .dateForm {
    width: 336px;
    margin-top: 20px;
  }
  .monthSelect {
    width: 150px;
  }
  .yearSelect {
    width: 150px;
  }
  .statsTable {
    width: 336px;
  }
  .tableHeaders {
    width: 300px;
  }
  .tableRow {
    width: 300px;
  }
  .tableSummaryRow {
    width: 300px;
  }
}
@media screen and (min-width: 1280px) {
}
