.modalBackground {
  top: 50%;
  left: 50%;
  background-color: rgba(200, 200, 200);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 450px;
  height: 280px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: fixed;
  bottom: 700;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
}

.modalContainer .modalFooter {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer .modalFooter button {
  font-size: 16px;
  font-weight: 500;
  height: 35px;
  width: 150px;
  border: none;
  border: 1px solid #4a56e2;
  border-radius: 45px;
  background-color: white;
  margin-bottom: 20px;
}

.modalContainer .modalFooter button:hover {
  cursor: pointer;
}

.modalHeader {
  font-weight: 400;
  font-size: 28px;
}

.currencySettingsBtn {
  height: 25px;
  width: 25px;
  border: none;
  background-color: white;
  cursor: pointer;
}

.buttonContainter {
  margin-left: 60px;
  align-items: center;
  margin-top: 5px;
  padding: 0;
}

.icon {
  position: relative;
  left: -5px;
}
