/* ============================== mobile =========================== */
@media screen and (min-width: 0px) and (max-width: 768px) {
  .loginBox {
    margin: 0px auto;
 padding: 10px 5px 100px 5px;
  }
  .loginButton,
  .registrationButton,
  .loginInput {
    max-width: 280px;
  }
}
/* ============================== Tablet =========================== */
@media screen and (min-width: 769px) and (max-width: 1080px) {
  .loginBox {
    padding: 30px;
    margin: 0px auto 200px auto;
  }
  .loginButton,
  .registrationButton,
  .loginInput {
    max-width:410px;
  }
}
/* ======================Desktop=========================== */

@media screen and (min-width: 1080px) {
  .loginBox {
    margin: 100px auto;
      padding: 30px 30px 100px 30px;
  }
}
/* ============================================================= */
.loginBox {
  background-color: white;
  border-radius: 20px;
  max-width: 533px;
 
}
.loginBoxTitle {
  padding-right: 30px;
}
.loginInput {
  background-color: white;
  padding:8px 0px 8px 40px;
  border: none;
  border-bottom: 1px solid #E0E0E0 ;
  width: 410px;
  height: 32px;
  margin: 0px auto;
  font-size: 16px;
  color: #E0E0E0;
  justify-items: center;
}
.loginInput:focus {
  outline: none;
}
.loginInputEmail{
  background-image: url('../../images/email.svg'); /* Ścieżka do pliku SVG z ikoną koperty */
  background-size: 30px; 
  background-repeat: no-repeat;
  justify-items:center;

}
.loginInputPassword{
  background-image: url('../../images/lock.svg'); /* Ścieżka do pliku SVG z ikoną koperty */
  background-size: 20px; 
  background-repeat: no-repeat;
  
 
}

.inputBox {
  display: flex;
  flex-direction: column;
  margin: 40px auto;
}

.error {
  color: red;
  margin-top: 5px;
}
.registrationButton,
.loginButton {
  padding: 10px;
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
}
.loginButton {
background-color: #24cca7;
  color: white;
}

.loginButton:hover {
  background-color: white;
  color: #24cca7;
  box-shadow: 0 0 25px #24cca780;
}
.registrationButton {
  background-color: white;
  border: 1px solid #4A56E2;
  color: #4A56E2;
  margin: 30px auto;
}

.registrationButton:hover {
  background-color: #4A56E2;
  color: white;
  box-shadow: 0 0 25px #4A56E2;
}
