.incomeForm {
  font-family: "Open Sans";
  display: flex;
  flex-direction: column;
}

.incomeForm input {
  padding-left: 8px;
  font-size: 14px;
  height: 30px;
  border: none;
  border-bottom: 1px solid rgb(197, 196, 196);
  font-family: "Open Sans";
}

.incomeForm__button {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
  height: 40px;
  width: 200px;
  border: none;
  border-bottom: 1px solid rgb(197, 196, 196);
  border-radius: 45px;
  background-color: #24cca7;
  color: white;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .incomeForm {
    width: 300px;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .incomeForm__line {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .incomeForm__amount {
    width: 250px;
  }
  .incomeForm__date {
    width: 250px;
    justify-self: flex-start;
  }

  .incomeForm__comment {
    width: 250px;
    height: 50px;
  }

  .incomeForm__button {
    width: 250px;
  }
}

@media screen and (min-width: 768px) {
  .incomeForm {
    padding-top: 20px;
    width: 500px;
    gap: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .incomeForm__line {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .incomeForm__amount {
    width: 200px;
  }
  .incomeForm__date {
    width: 200px;
    justify-self: flex-start;
  }

  .incomeForm__comment {
    width: 450px;
    height: 50px;
  }

  .incomeForm__button {
    width: 250px;
    height: 50px;
    font-size: 19px;
  }
}
