
.chartContainer {
  display: block;
  /* margin-left: -50px; */
  background-color: white;
  border-radius: 50px;
  font-weight: 700;
}

.chartWrapper {
  max-width: 450px;
  width: 100%;
  margin-left: -20px;
   
}
@media screen and (min-width: 0px) and (max-width: 768px) { 

.chartContainer {
  display: block;
margin: 0px auto;
}

.chartWrapper {
  max-width: 450px;
  width: 100%;
 
  
}

}
