html {
  background-color: #e7eaf2;
  background-image: url("../../frontend/src/images/Ellipse2.svg"),
    url("../../frontend/src/images/Ellipse1.svg");
  background-size: auto, auto;
  background-repeat: no-repeat, no-repeat;
  background-position: right top, left bottom;

  /* width: 100vh; */
  /* height: 100vh; */
}
body {
  margin: 0 auto;
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
