.editButton {
  padding: 0;
  border: none;
  background-color: none;
}

.editButton:hover {
  cursor: pointer;
}
.editIcon {
  height: 20px;
  width: 20px;
}


.deleteRow {
  padding: 0;
  width: 70px;
}
.editRow {
  padding: 0;
}
.tableHead {
  background-color: white;
}
.table {
  border-radius: 30px;
  overflow: hidden;
  border: none;
  margin-bottom: 20px;
  box-shadow: none;
  width: 700px;
}
