


.deleteRow {
  padding: 0;
  width: 70px;
}
.editRow {
  padding: 0;
}
.tableHead {
  background-color: white;
}
.table {
  border-radius: 30px;
  overflow: hidden;
  border: none;
  margin-bottom: 20px;
  box-shadow: none;
  width: 700px;
}
