
.editButton {
  padding: 0;
  border: none;
  background-color: transparent;
}

.editButton:hover {
  cursor: pointer;
}
.editIcon {
  height: 20px;
  width: 20px;
}
.deleteButton {
  width: 80px;
  height: 35px;
  border-radius: 35px;
  border: none;
  background-color: #24cca7;
  color: white;
}


.deleteRow {
  padding: 0;
  width: 70px;
}
.editRow {
  padding: 0;
}
.tableHead {
  background-color: white;
  
}
.table {
  border-radius: 30px;
  overflow: hidden;
  border: none;
  margin-bottom: 20px;
  box-shadow: none;
  width: 700px;
}

/* ================================= */

.tableContainer {
  width: 700px;
  height: 500px;
  background-color: transparent;
  max-height: 5000px;
  overflow-y: auto;
}


.tableHeader {
  background-color: #FFFFFF;
  top:0px;

  position: sticky;
  font-weight: 900;
  
}
@media screen and (min-width: 768px) {
  .tableContainer{
    max-width: 700px;
    margin-left: 15px;
  }
}