.container {
  height: 100vh;
     background-color: rgba(255, 255, 255, 0.385);
    width: 100%;
     backdrop-filter: blur(8px);
}
/* .container::after {
  content: "";
  position: absolute;
  top: 100px;
  bottom: 0;
  width: 1px; 
  background-color: #000; 
  right: calc(65%);  
  
 
} */

@media screen and (min-width: 0px) and (max-width: 767px) {}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  
  .containerLeft {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10px;
}
}

@media screen and (min-width: 1280px) {
  .container {
  display: grid;
  grid-template-columns: 35% 65%;
  gap: 10px;
  }
  .containerLeft {
  border-right: 2px solid #E7EAF2;
  height: 100vh;
}
.containerRight {
  text-align: -webkit-right;
  padding-top: 50px;
  padding-right: 50px;
}
}

