.backgroundShadow{
height: 100vh;
     background-color: rgba(255, 255, 255, 0.385);
    width: 100%;
     backdrop-filter: blur(8px);
}


@media screen and (min-width: 0px) and (max-width: 767px) {
.container{
  background-color: #E7EAF2;
 
}

  .containerCurrency{
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
  display: grid;
  width: 700px;
  margin: 0 auto;
  gap: 10px;

  }
  
  .containerLeft {
  display: grid;
  grid-template-columns: 50% 50%;
}
.homeButtonModal{
  text-align: end;
  padding-bottom: 15px;
}
}

@media screen and (min-width: 1280px) {
  .container {
  display: grid;
  grid-template-columns: 35% 65%;
  
  }
  .containerLeft {
  border-right: 2px solid #E7EAF2;
  height: 100vh;
}
.containerRight {
  text-align: -webkit-right;
  padding-top: 50px;
  padding-right: 50px;
}
}


::-webkit-scrollbar {
  width: 8px;
  background-color: transparent; 
}


::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 4px;
}


::-webkit-scrollbar-track {
  background-color: transparent; 
}


::-webkit-scrollbar-horizontal {
  display: none;
}






