.progress {
  background-color: #e5f1ef;
  width: 350px;
  height: 4px;
  margin-bottom: 30px;

  @media screen and (min-width: 767px) {
    background-color: #e5f1ef;
    width: 400px;
    height: 4px;
    margin-bottom: 30px;
  }
}