.main {
  display: flex;
  justify-content: space-between;
  height: 8vh;
  padding: 20px;
  background-color: #FFFFFF;
}

.wallet {
  display: flex;
}

/* img {
  width: 40px;
  height: 40px;
} */

.title {
  font-family: poppins;
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  padding-left: 20px;
  line-height: 45px;
  margin-top: 0;
}

.logoutDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: #FFFFFF;
}

.logoutBtn {
  background-color: #FFFFFF;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.logoutBtn:hover {
  fill: #24CCA7;
  color: #24CCA7;
}

.exitIcon {
  width: 18px;
  height: 18px;
  fill: #BDBDBD;
  transition: fill 0.2s;
}

.exitIcon:hover {
  fill: #24CCA7;
}

.exitBtn {
  display: flex;
  align-items: center;
}

.exitTxt {
  color: #BDBDBD;
  font-weight: 400;
  font-size: 18px;
  padding-left: 10px;
  line-height: 26.53px;
}

.exitTxt:hover {
  color: #24CCA7;
}

.name {
  font-family: circe;
  color: #BDBDBD;
  font-weight: 400;
  font-size: 18px;
  line-height: 26.53px;
}

.lineSvg{
  width: 18px;
    height: 18px;
    fill: #BDBDBD;
    transition: fill 0.2s;
}