

.main {
  display: flex;
  justify-content: space-between;
  height: 6vh;
  padding: 20px;
  background-color: #FFFFFF;
}

.walletSection {
  display: flex;
  align-items: center;
}

.title {
  font-family: poppins;
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  padding-left: 20px;
  line-height: 45px;
  margin-top: 0;
}

.logoutDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: #FFFFFF;
}

.name {
  font-family: 'Open Sans', sans-serif;
  color: #BDBDBD;
  font-weight: 400;
  line-height: 26.53px;
  color: #BDBDBD;
  font-size: 20px;
}

.name:hover {
  color: #24cca7;
  transition: 0.3s;
}

.line{
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 5px;
  color: #BDBDBD;
  margin-left: 4px;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .title{
    font-size: 30px;
  }
  .line {
    display: none;
  }

  .name {
    margin-right: 10px;
    
  }
  .walletIcon{
    width: 40px;
    height: 40px;
  }

}