@font-face {
    font-family: 'CirceBold';
    src: url('../../assets/fonts/circe/circe_bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Circe';
    src: url('../../assets/fonts/circe/circe.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('../../assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}