.modalHeader {
  font-weight: 400;
  font-size: 28px;
}

.openModalBtn {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  /* position: absolute;
  right: 0;
  bottom: 0; */
  background-color: #24cca7;
  border: none;
  color: white;
  font-size: 40px;
  font-weight: 200;
  margin: 20px;
}

.modalBackground {
  top: 50%;
  left: 50%;
  background-color: rgba(200, 200, 200);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 450px;
  height: 500px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: fixed;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
}

.modalContainer .modalFooter {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer .modalFooter button {
  font-size: 16px;
  font-weight: 500;
  height: 40px;
  width: 200px;
  border: none;
  border: 1px solid #4a56e2;
  border-radius: 45px;
  background-color: white;
  margin-bottom: 20px;
}
