.modalHeader {
  font-weight: 400;
  font-size: 28px;
  display: flex;
  justify-content: center;
}

.openModalBtn {
  padding: 0;
  margin: 0;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  /* position: absolute;
  right: 0;
  bottom: 0; */
  background-color: #24cca7;
  border: none;
  color: white;
  font-size: 40px;
  font-weight: 200;
  margin: 20px;
}

.modalContainer {
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
}

.modalContainer .modalFooter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer .modalFooter button {
  font-size: 16px;
  font-weight: 500;
  height: 40px;
  width: 200px;
  border: none;
  border: 1px solid #4a56e2;
  border-radius: 45px;
  background-color: white;
  margin-bottom: 20px;
  cursor: pointer;
  color: #4a56e2;
}
.modalContainer .modalFooter button:hover {
  cursor: pointer;
  background-color: #4a56e2;
  color: white;
}

@media screen and (min-width: 0px) and (max-width: 641px) {
  .modalBackground {
    background-color: rgba(200, 200, 200, 0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }

  .modalContainer {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    box-shadow: none;
    padding: 0px;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: -10px;
  }

  .titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
    color: transparent;
  }

  .modalContainer .modalFooter button {
    margin-top: 20px;
    width: 250px;
  }
  .openModalBtn {
    padding: 0;
    margin: 0;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    /* position: absolute;
    right: 0;
    bottom: 0; */
    background-color: #24cca7;
    border: none;
    color: white;
    font-size: 40px;
    font-weight: 200;
    margin: 20px;
    
  }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
  .modalBackground {
    background-color: rgba(200, 200, 200, 0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }

  .modalContainer {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    box-shadow: none;
    padding: 0px;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: -10px;
  }

  .titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
    color: transparent;
  }

  .modalContainer .modalFooter button {
    margin-top: 20px;
    width: 250px;
  }
  .openModalBtn {
    padding: 0;
    margin: 0;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    /* position: absolute;
    right: 0;
    bottom: 0; */
    background-color: #24cca7;
    border: none;
    color: white;
    font-size: 40px;
    font-weight: 200;
    margin: 20px;
    position: absolute;
    right: 45%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {

  .openModalBtn {
    padding: 0;
    margin: 0;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    /* position: absolute;
    right: 0;
    bottom: 0; */
    background-color: #24cca7;
    border: none;
    color: white;
    font-size: 40px;
    font-weight: 200;
    margin: 20px;
    position: absolute;
    right: 45%;
  }
  .modalHeader {
    padding-bottom: 20px;
    font-size: 32px;
  }
  .modalBackground {
    position: absolute;
    top: -235px;
    left: 50%;
    background-color: rgba(200, 200, 200);
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5000;
  }

  .modalContainer {
    width: 540px;
    min-height: 508px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    z-index: 5000;
  }

  .titleCloseBtn button {
    color: black;
  }

  .modalContainer .modalFooter button {
    margin-top: 20px;
    width: 250px;
    height: 50px;
    font-size: 19px;
  }
}

@media screen and (min-width: 1279px) {
  .modalHeader {
    padding-bottom: 20px;
    font-size: 32px;
  }
  .modalBackground {
    position: absolute;
    top: -235px;
    left: 20%;
    background-color: rgba(200, 200, 200);
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5000;
  }

  .modalContainer {
    width: 540px;
    min-height: 508px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    z-index: 5000;
  }

  .titleCloseBtn button {
    color: black;
  }

  .modalContainer .modalFooter button {
    margin-top: 20px;
    width: 250px;
    height: 50px;
    font-size: 19px;
  }
  .openModalBtn {
    padding: 0;
    margin: 0;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    /* position: absolute;
    right: 0;
    bottom: 0; */
    background-color: #24cca7;
    border: none;
    color: white;
    font-size: 40px;
    font-weight: 200;
    margin: 20px;
   
  }
}